/*-- scss:defaults --*/
$link-color: rgb(36, 191, 252);
$code-color: #bb8acf;
$body-bg: #1a1a1a;
$body-color: #fff;
$navbar-bg	: #1a1a1a;

/*-- scss:rules --*/
.dark-mode { display: block; }
.light-mode { display: none; }